body {
	text-align: center;
	background: #333;
	font-style: Arial, Helvetica, sans-serif;
}

#container {
	width: 300px;
	height: 520px;
	margin: 40px auto;
	border: solid 2px black;
	background: #418AD3;
}

#addBox {
	position: relative;
	width: 280px;
	height: 50px;
	margin: 0;
	padding: 10px 10px 8px 10px;
}

.userInput {
	position: absolute;
	height: 40px;
	width: 205px;
	left: 0px;
	margin: 0 10px;
	padding: 0 10px;
}

button {
	position: absolute;
	align: right;
	width: 40px;
	height: 40px;
	right: 10px;
	display: inline;
	font-size: 24px;
	margin: 3px 0;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	border: solid 1px black;
	width: 290px;
	height: 40px;
	margin: 2px;
	padding: 3px 2px;
	background-color: #fff;
}

.listTextSpan {
	position: relative;
	left: 10px;
	top: 11px;
	display: flex;
	justify-content: flex-start;
}

