body {
	text-align: center;
	background: url(/img/background.jpg);
}

#container {
	width: 300px;
	height: 520px;
	margin: 40px auto;
	border: solid 2px black;
	background: #418AD3;
}

#addBox {
	position: relative;
	width: 280px;
	height: 50px;
	margin: 0;
	padding: 10px 10px 8px 10px;
}

.userInput {
	position: absolute;
	height: 40px;
	width: 225px;
	left: 0px;
	margin: 0 10px;
}

button {
	position: absolute;
	align: right;
	width: 40px;
	height: 40px;
	right: 10px;
	display: inline;
	font-size: 24px;
	margin: 5px 0;
}

ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	border: solid 1px black;
	width: 290px;
	height: 40px;
	margin: 2px;
	padding: 3px 2px;
	background-color: #fff;
}

.listTextSpan {
	position: absolute;
	width: 220px;
	height: 28px;
	font-size: 20px;
	left: 203px;
	text-align: left;
	margin: 3px;
	padding: 6px 10px 0 10px;

}

.checkBoxSpan {
	position: absolute;
	left: 452px;
	background-color: #fafafa;
	border: 1px solid #cacece;
	padding: 9px;
	border-radius: 3px;
}
